@media only screen and (min-width:769px){
header,
main,
nav,
footer {
    max-width: 900px;
    margin: 0 auto;
}
   

button#hamburger {
    display:none;
}

nav {
    grid-template-rows: 1fr;
}

nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

figure {
    display: flex;
    padding: 10px;
}

figcaption {
    padding: 10px;
}

figure img {
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 12px rgba(23, 18, 33, 0.3);
}

.home,
.home2 {
    display: grid;
    gap: 10px;
    grid-template-areas:
    "pic1 text1"
    "text2 pic2"
    ;
}

.home img{
    grid-area: pic1;
}

.home p{
    grid-area: text1;
}

.home2 img{
    grid-area: pic2;
}

.home2 p{
    grid-area: text2;
}

}