@media only screen and (min-width:640px){
/***************** PAGE LAYOUT *****************/
header,
main,
nav,
footer {
    max-width: 900px;
    margin: 0 auto;
}



/********************HAMBURGER********************/

button#hamburger {
    display:none;
}

/********************NAVIGATION********************/

nav {
    grid-template-rows: 1fr;
}

nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.2);
}

nav ul li:last-child a {
    border:none;
}

/************ Events and Weather *************/
section.eventsWeather {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 10px;
}

/************ HOME SPOTLIGHTS *************/
#spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

/************ JOIN PAGE *************/
.sbs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.form {
    margin: auto;
}

 /************************** DISCOVER PAGE **************************/
 #allplaces div {
    grid-template-areas: 
    "name name" 
    "photograph description"
    "photograph location"
    "button button"
  }
#allplaces div img {
    width: 300px;
}

#allplaces div img:hover {
    opacity: .5;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

}